body {
	font: 100%/1.25 Arial,Helvetica,sans-serif;
}

pre, textarea {
	font: 125%/1.25 monospace;
	color: #222;
}

#tables li a.select {
	margin-right: 1em;
}

/* Example of coloring the top breadcrumb  depending on selected server*/
html.localhost #breadcrumb {
	/*background-color: #ffbcbc;*/
}